// Global styles
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans;
  background-color: white;
}

.main {
  height: 100%;
}

// Components
// @import '../components/my-component/my-component';